


.jumbotronjumbotron-fluid{
background-image: "image/bureau.jpg";


}
#col {
  column-count: 2;
}
.bouton {
	position : absolute;
	bottom: 10px;
	right: 15px;

}
.dropdown_3{
	display: flex;
	align-content: center;

}


